@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

body {
    background-color: #fff9f9;
}

.slick-slide {
    outline: none !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* phone number input */
.react-international-phone-input-container{
    padding: 5px 8px;
    border: 1px solid #ABADAC;
    border-radius: 6px;
}
.react-international-phone-country-selector-button{
    border: 0 !important;
}
.react-international-phone-input{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, .5) !important;
    width: 360px;
    border: 0 !important;
}